.service {
    position: relative;
}
.dropdown {
    width: 200px;
    position: absolute;
    left: 25px;
    top: 25px;
}

.service:hover .dropdown {
    display: flex;
}
.input-field {
    width: 300px;
}
.input-field input {
}

.main-left button {
    width: 100px;
}

.contact-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    font-size: 14px;
    
}